<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Здравствуйте!</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>




 <head>
 	<title>Фоновое изображение с помощью CSS</title>
   <style>
	body {
		background: #000 url(http://www.files-warehouse.com/files/stickers/23/234e/234ead680ea074e2e30b3b90a104e363.jpg); /* Фоновый цвет и фоновый рисунок*/
		color: #fffff; /*Цвет текста на странице*/
		background-attachment: fixed; /* Фон страницы фиксируется */
		background-repeat: repeat-x; /* Изображение повторяется по горизонтали */
		background-size: 53%;
	}
   </style>



    <div style="position:absolute; top:30%; left:41%; margin-top:-75px; margin-left:-150px;  width:500px; height:600px;">



        <h3><marquee behavior="alternate" direction="left"><p align="center"><a href="video/all/" class="btn btn-info" role="button"><font color="#FFFF00">Продолжить</font></a></p></marquee></h3>

        <h3><em><strong><p align="center"><font color="#55954B"> Здравствуйте! Если Вы фанат Филиппа Киркорова, то давайте продолжим... </font></p></strong></em></h3>

        <marquee behavior="alternate" direction="right"><p align="center"><a href="https://kirkorov.ru/" class="btn btn-info" role="button"><font color="#FFFF00">Удалить и забыть...</font></a></p></marquee>


