{% extends 'maintemplate.html' %}
{% load staticfiles %}
{% block AllVideo %}

    {% for con in content %}
    <iframe width="853" height="480" src="{{ con.0.Video_url }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <a href="/video/get/{{ con.0.id }}/"><h1>{{ con.0.Video_name }}</h1></a>
    <h3>{{ con.0.Video_discription }}</h3>
    <h2>Дата публикации{{ con.0.Video_date }}</h2>
    <img src="{% static 'like.png' %}" height="10%" class="likevideo" id="{{ con.0.id }}">
        <h1 id="{{ con.0.id }}video">{{ con.0.Video_likes }}</h1>
        {% for com in con.1 %}
            <hr>
            <h3>{{ com.0.Comment_text }}</h3>
            <h3>Дата публикации{{ com.0.Comment_date }}</h3>
            <h3>Likes :{{ com.0.Comment_likes }}</h3>
            <h2>From : {{ com.1 }}</h2>
        {% endfor %}
    {% endfor %}
{% endblock %}
